<div class="w-full flex flex-col justify-start items-center">
  <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: "bg-white") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %> 
      <h1 class="text-gray-800 font-bold text-2xl mb-3">Reset Password</h1>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4"> 
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                                                                              viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                               d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
        </svg>
        <%= f.email_field :email, class: "pl-2 outline-none border-none border-transparent focus:border-transparent focus:ring-0", placeholder: "Email Address", autocomplete: "email", autofocus: true %>
      </div>

      <%= f.submit "Reset", class: "block w-full bg-amaranth-600 hover:bg-amaranth-700 mt-4 py-2 rounded-2xl text-white-50 cursor-pointer font-semibold mb-2" %>
      <div class="mt-6">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
