<div class="w-full">
  <% course.lessons.order(:position).each do |lesson| %>
    <% if lesson.paid && !paid_for_course %>
      <div class="border p-6 hover:bg-gray-200">
        <div>
          <%= icon('fa-solid', 'lock', class: "mr-2 text-gray-600") %><span class="font-light"><%= lesson.title %></span>
        </div>
      </div>
    <% else %>
      <%= link_to course_lesson_path(course, lesson) do %>
        <div class="border p-6 hover:bg-gray-200 <%= @lesson.id == lesson.id ? 'bg-amaranth-100': '' %>">
          <%= completed_lessons&.include?(lesson.id) ? icon('fa-solid', 'check-circle', class: "mr-2 text-green-500") : nil %>
          <span class="font-light"><%= lesson.title %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
