<div class="flex flex-col lg:flex-row-reverse w-full justify-start lg:justify-end pb-6">
  <div>
    <div>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    </div>

    <%= (@lesson.video.present?) ? (video_tag @lesson.video, autoplay: false, controls: true, class: "rounded") : "No video available" %>

    <div class="my-2 border p-4 rounded">
      <h1 class="text-2xl font-semibold"><%= @lesson.title %></h1>
      <p class="text-gray-700"><%= @lesson.description %></p>
    </div>

    <div class="my-6 lg:mb-0">
      <%= link_to "Mark as complete", course_lesson_path(@course, @lesson), data: { 'turbo-method' => :put }, class: "bg-green-500 rounded hover:bg-green-600 text-white-50 px-4 py-2" %>
    </div>
  </div>

  <div class="sidebar_container lg:min-w-60 lg:mr-4 lg:overflow-y-scroll">
    <%= render "sidebar", course: @course, completed_lessons: @completed_lessons, paid_for_course: @paid_for_course %>
  </div>

</div>
