<div class="flex flex-col justify-start items-center w-full">
  <p style="color: green"><%= notice %></p>

  <div class="w-full flex flex-col md:flex-row justify-end mb-8">
    <%= form_with url: admin_users_path, method: :get, class: "flex" do |form| %>
      <%= form.text_field :query, placeholder: "Search", class: "rounded border-gray-500 text-amaranth-800" %>
      <%= form.submit "Search", class: "cursor-pointer bg-amaranth-500 ml-2 hover:bg-amaranth-600 text-amaranth-50 py-2 px-4 rounded" %>
    <% end %>
    <%= form_with url: admin_users_path, method: :get, class: "flex" do |form| %>
      <%= form.submit "Clear", class: "cursor-pointer bg-camelot-500 ml-0 md:ml-2 mt-2 md:mt-0 hover:bg-camelot-600 text-amaranth-50 py-2 px-4 rounded" %>
    <% end %>
  </div>

  <div class="w-full overflow-x-auto">
    <table class="min-w-full bg-amaranth-50" style="border-collapse: separate; border-spacing: 0;">
      <thead>
        <tr class="text-amaranth-800">
          <th class="px-6 py-3 border-b-2 border-amaranth-200 text-start bg-amaranth-100"></th>
          <th class="px-6 py-3 border-b-2 border-amaranth-200 text-start bg-amaranth-100">Email</th>
          <th class="px-6 py-3 border-b-2 border-amaranth-200 text-start bg-amaranth-100">Created At</th>
          <th class="px-6 py-3 border-b-2 border-amaranth-200 text-start bg-amaranth-100">Updated At</th>
          <th class="px-6 py-3 border-b-2 border-amaranth-200 text-start bg-amaranth-100">Destroy User</th>
        </tr>
      </thead>
      <tbody class="text-gray-800">
        <% @admin_users.each do |user| %>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200"><%= link_to user.id, admin_user_path(user), class: "underline" %></td>
            <td class="px-6 py-4 border-b border-gray-200"><%= user.email %></td>
            <td class="px-6 py-4 border-b border-gray-200"><%= user.created_at.to_formatted_s(:long) %></td>
            <td class="px-6 py-4 border-b border-gray-200"><%= user.updated_at.to_formatted_s(:long) %></td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= button_to icon('fa-solid', 'trash-can'), [:admin, user], method: :delete, data: {'turbo-confirm': "Are you sure? All their data will be deleted."}, class: "text-red-600" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
