
<!DOCTYPE html>
<html>
  <head>
    <title>LearningManagement Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "admin/navbar" %>
    <main class="container mx-auto min-h-screen px-4 md:px-0 mt-4 flex">
      <%= yield %>
    </main>
  </body>
</html>
